<div class="content">  
  <div class="in-template-logic">
    <h1>Logic in templates</h1>
    <h2>Active Users</h2>
    <ul>
      {{#each (filter-by model 'isActive' true) as |user|}}
        <li>
          {{user-tile user=user}}
        </li>
      {{/each}}
    </ul>
    <h2>Inactive Users</h2>
    <ul>
      {{#each (filter-by model 'isActive' false) as |user|}}
        <li>
          {{user-tile user=user}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="in-template-context-logic">
    <h1>Logic in template context</h1>
    <h2>Active Users</h2>
    <ul>
      {{#each activeUsers as |user|}}
        <li>
          {{user-tile user=user}}
        </li>
      {{/each}}
    </ul>
    <h2>Inactive Users</h2>
    <ul>
      {{#each inactiveUsers as |user|}}
        <li>
          {{user-tile user=user}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>